.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
}

@media (min-width: $width-phone) {
    .container {
        max-width: $width-phone - 20px;
    }
}

@media (min-width: $width-tablet) {
    .container {
        max-width: $width-tablet - 20px;
    }
}

@media (min-width: $width-desktop-sm) {
    .container {
        max-width: $width-desktop-sm;
    }
}

@media (min-width: $width-desktop) {
    .container {
        max-width: $width-desktop;
    }
}


// https://zeph.co/grid
.grid {
    display: flex;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
}

.column {
    box-sizing: border-box;
    flex: 1;
    padding-left: 10px;
    padding-right: 10px;
}

.bigger {
    flex: 2.5;
}

.halves .column {
    flex: 0 0 50%;
}

.thirds .column {
    flex: 0 0 33.3333%;
}

.fourths .column {
    flex: 0 0 25%;
}

@media (max-width: $width-desktop-sm) {
    .grid {
        display: block;
    }
}

/*      Common      */
body {
    color: $main-font-color;
    font-family: $main-font;
    font-size: $font-size-basic;
    display: flex;
    margin: 0;
}

a {
    color: $text-primary;
    text-decoration: none;

    &:hover {
        opacity: $opacity;
    }
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.title {
    font-size: $font-size-big;
    padding-bottom: 20px;
}

/*      App     */
#app {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.main_loader {
    font-size: 2rem;
    animation-fill-mode: forwards;
    animation: fadeInDown 1s 1;
    animation-name: fadeInDown;
}

.anim_appear {
    animation-fill-mode: forwards;
    animation: fadeIn $anim-speed 1;
    animation-name: fadeIn;
}

/*  Forms   */

input {
    border: none;
    background-color: $bg-main;
    border-bottom: 1px solid $text-primary;

    &::placeholder {
        color: $text-placeholder;
    }
}

.btn {
    background-color: $primary;
    color: $text-light;
    border-radius: 4px;
    line-height: 19px;
    font-size: $font-size-basic;
    font-weight: 500;
    border: none;
    padding: 9px 32px;
    cursor: pointer;
    &.inverse{
        background-color: transparent;
        padding: 0;
        cursor: pointer;
        font-weight: 400;
        color: $primary;
        margin: 0 30px;
        cursor: pointer;
    }
    &.small{
        font-size: $font-size-small;
    }
    &:hover {
        opacity: $opacity;
    }
}

/*     gradients   */
.orange {
    background: linear-gradient(136.27deg, #F2C94C 8.44%, #F29A4A 91.36%);
}

.pink {
    background: linear-gradient(136.27deg, #F2994A 8.44%, #EB5757 91.36%);
}

.blue {
    background: linear-gradient(136.27deg, #56CCF2 8.44%, #2F80ED 91.36%);
}

.dark {
    background: linear-gradient(136.27deg, #828282 8.44%, #333333 91.36%);
}